# Source data
/inputs/manual/*
/inputs/auto/*

# Custom global environment during quarto rendering
environment.RData

# Script output #
/analysis_ready/*
*.html
*.pdf
*.png
*.svg

# Quarto publishing stuff
/.quarto/
/docs/

# R specific files #
.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata

# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
*.log
*.sql
*.sqlite

**/*.quarto_ipynb

/_*.local
